@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #F4F4F4;
  font-family: "Poppins", sans-serif;
}
:root {
  --blue-dark: #112b3c;
  --blue-light: #00d7ff;
  --gray: #efefef;
  --primary-color:#191919;
  --secondary-color :#F4F4F4;
}
html,body {
  scroll-behavior: smooth;
  position: relative;
  background-color: #171717;

}
body {
  overflow-X: hidden;
  background-color: var();
  transition: all .3s ease;

}
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: var(--blue-dark);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--blue-light);
  border-radius: 5px;
}
.center {
  max-width: 1300px;
  height: 100%;
  padding: 0 2%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-top: 1px solid #222831;
  padding-top: 5rem;
}
.title_section {
  width: 100%;
  height: 4rem;
  font-size: 1.5rem;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  
}
.title_section h2{
  color: var(--blue-light);
  text-shadow: 1px 2px var(--gray);
}
/*=========>>> HEADER <<<<-=========*/
.header {
  width: 100%;
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  border-bottom: 1px solid var(--blue-light);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: rgba(23, 23, 23, 0.82);
  box-shadow: 0 0px 3px var(--blue-light);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}
.header .center {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  max-width: 200px;
}
.navigation {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation .active{
  width: 100%;
  height: 100vh;
  background-color: red;
}
.nav_links {
  width: 100px;
  font-weight: 700;
  margin-left: 35px;
}
.nav_links:hover {
  color: var(--blue-light);
}
.nav_links::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: var(--blue-light);
  display: block;
  position: relative;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
.nav_links:hover::after {
  transform: scaleX(1);
}
.navigation.active{
  max-width: 80vh;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  border-left: 2px solid var(--blue-light);
 }
 .navigation.active .nav_links{
  width: 90%;
  height: 5rem;
  color: #E8E8E8;
  transform-origin: right;
 }
 .navigation.active .nav_links:nth-child(1){
  transition: all 2s ease;
 }
.menu_mobile {
  width: 35px;
  height: 35px;
  display:none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
  z-index: 999999;
}
.menu_mobile div{
  width: 100%;
  height: 3px;
  border-radius: 50px;
  background-color: #efefef;
  transition: all .3s ease;
}
.menu_mobile div:nth-child(3){
  width: 50%;
}
.active div:nth-child(1){
  transform: rotate(-45deg);
  position: relative;
  top: 8px;
}
.active div:nth-child(2){
  transform: rotate(45deg);
}
.active div:nth-child(3){
 opacity: 0;
}
main {
  max-width: 1300px;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
}
/*=========>>> HOME <<<<-=========*/
.home {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.hello {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.image3d_home {
  width: 20%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.social_midia {
  width: 200px;
  text-align: center;
  font-size: 2.2rem;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
}
.social_midia a {
  margin: 0 10px;
}
.social_midia i {
  transition: all 0.3s ease;
}
.social_midia a:hover i {
  color: var(--blue-light);
  transform: scale(1.2);
}
.container_section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}
/*=========>>> ABOUT <<<<-=========*/
.apresentation_about {
  width: 60%;
  margin-top: 5rem;
  font-size: 1rem;
}
.image_3d {
  position: absolute;
  right: 0;
  bottom: 0;
}
.image_3d {
  width: 35%;
}
.map_studies {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 5rem 0;
  font-size: .8rem;
  letter-spacing: 1px;
  position: relative;
}
.box_map {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #202020;
  position: relative;
  left: 0;
}
.box_map::before {
  content: "";
  width: 3px;
  height: 100%;
  background-color: var(--blue-light);
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: left;
  transition: all 0.4s ease;
  border-radius: 3px;
}
.box_map:hover::before {
  width: 100%;
  color: #000;
}
.box_map:hover span{
  color: var(--primary-color);
  font-weight: bold;
}
.box_map span{
  position: relative;
  z-index: 1;
}
.btnDownloadCV {
  width: 200px;
  position: absolute;
  left: 0;
  bottom: 1%;
  padding: 8px 16px;
  margin-top: 50px;
  border-radius: 3px;
  border: 2px solid var(--blue-light);
  color: #fff;
  text-align: center;
  transition: all 0.3s ease;
  background-color: var(--blue-dark);
}
.btnDownloadCV i {
  color: #fff;
  margin-right: 10px;
}
.btnDownloadCV:hover {
  box-shadow: inset 0px 0px 0 50px var(--blue-light);
  color: var(--blue-dark);
}
.btnDownloadCV:hover i {
  color: var(--blue-dark);
}
/*=========>>> SKILLS <<<<-=========*/
.box_skills {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.box_technologies {
  width: 30rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #252525;
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  margin: 0 auto;
  transition: all 0.4s ease-in-out;
  border-left: 2px solid var(--blue-light);
}
.box_technologies:nth-child(1) {
  transform: translateX(-80px);
}
.box_technologies:nth-child(3) {
  transform: translateX(80px);
}
.box_skills:hover .box_technologies:nth-child(1),
.box_skills:hover .box_technologies:nth-child(3) {
  transform: translateX(0);
}
.box_skills:hover .box_technologies{
  border: 2px solid var(--blue-light);
  box-shadow: 0 0 5px var(--blue-light);
}
.images_technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.images_technologies img {
  max-width: 3rem;
}
/*=========>>> PORTFOLIO <<<<-=========*/
.all_projects {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
  gap: 25px;
  margin: 5rem 0;
}
.box_project {
  width: 25rem;
  height: 15rem;
  margin: 5px;
  border: 2px solid #252525;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  position: relative;
  transition: all 0.4s ease;
  color: #00d7ff;
  overflow: hidden;
}
.img_project {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.img_project img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.stacks{
  width: 100%;
  height: 3rem;
  position: absolute;
  bottom: 0;
  color: #F4F4F4;
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-lefT: 5px;
  gap: 10px;
}
.stacks span{
  color: #F4F4F4;
  border-radius: 3px;
  padding: 0 5px;
  font-weight: 800;
}
.html{
  background-color: #FF9551;
}
.css{
  background-color: #277BC0;
}
.js{
  background-color: #FEDB39;
}
.sass{
  background-color: #F675A8;
}
.description_project {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
  position: absolute;
  top: 100%;
  color: var(--gray);
  transition: all 0.4s ease;
}
.title_project {
  width: 100%;
  height: 2rem;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.info_project {
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
}
.box_project:hover .description_project {
  transform: translateY(-100%);
  box-shadow: inset 0 0 0 400px rgba(20,20,20,.9);
  visibility: visible;
}
.box_project:hover {
  border: 2px solid var(--blue-light);
}
.buttons_link {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: all 0.4s ease;
  background-color: #909090;
}
.buttons_link a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.buttons_link i {
  margin: 0 5px;
}
.buttons_link a:hover,
.buttons_link a:hover i {
  color: #303030;
}
.buttons_link a:hover {
  background-color: var(--blue-light);
}
.box_project:hover .buttons_link {
  opacity: 1;
}
/*=========>>> CONTACT <<<<-=========*/
.contact{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact form {
  height: 75%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
  margin-top: 7rem;
}
.contact form input {
  width: 25rem;
  height: 3rem;
  outline: none;
  border: none;
  padding: 5px 10px;
  border: 2px solid #252525;
  background-color: #202020;
  border-radius: 3px;
}
.contact form textarea {
  width: 25rem;
  height: 25rem;
  outline: none;
  border: none;
  padding: 5px 0 5px 10px;
  border: 2px solid #252525;
  background-color: #202020;
  border-radius: 3px;
  resize: none;
}
.contact form input[type="submit"] {
  border: 2px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: 800;
  font-size: 1.1rem;
  background-color: #202020;
  border: 2px solid #252525;
  color: var(--blue-light);
}
.button_submit {
  position: relative;
  color: #fff;
}
.icon_submit {
  height: 100%;
  width: 50px;
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.4s ease;
  cursor: pointer;
  opacity: 0;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-light);
  color: var(--blue-dark);
}
.contact form input[type="submit"]:hover {
  border: 2px solid var(--blue-light);
}
.button_submit:hover .icon_submit {
  opacity: 1;
  position: absolute;
  left: calc(100% - 50px);
}
.contact form input:focus,
.contact form textarea:focus {
  border: 2px solid var(--blue-light);
}
.warning_contact {
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 4rem auto;
  padding: 10px;
  font-size: 0.9rem;
  font-style: italic;
  border: 1px solid #202020;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}
.warning_contact i{
  font-size: 1.5rem;
  margin: 0 10px;
}
/*=========>>> FOOTER <<<<-=========*/
.footer {
  width: 100%;
  min-height: 7vh;
  margin-top: 2rem;
  padding-top: 10px;
  position: relative;
  bottom: 0;
  left: 0;
  border-top: 1px solid #252525;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.footer .center {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.social_midia_footer {
  min-height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
}
.social_midia_footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.social_midia_footer i {
  transition: all 0.3s ease;
}
.social_midia_footer i:hover {
  color: var(--blue-light);
  transform: scale(1.2);
}
.copyright {
  position: relative;
}
.button_scroll_top {
  width: 30px;
  height: 50px;
  position: absolute;
  right: 10%;
  bottom: 2%;
  margin-bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
  background-color: var(--blue-dark);
  overflow: hidden;
  border: 2px solid var(--blue-light);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.button_scroll_top i {
  transform: translateY(10px);
  color: var(--blue-light);
  transition: all 1s ease;
}
.button_scroll_top:hover i {
  transform: translateY(-10px);
}
/*=========>>> MEDIA QUERIES <<<<-=========*/
@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
  .navigation.active{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .navigation.active .nav_links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
  }
  .menu_mobile {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .box_skills {
    width: 100%;
  }
  .box_technologies:nth-child(1),
  .box_technologies:nth-child(3) {
    transform: translateX(0);
  }
  .box_technologies {
    width: 100%;
  }
  .image_3d {
    display: none;
  }
  .map_studies {
    width: 100%;
  }
  .apresentation_about{
    width: 100%;
  }
  .nav_links::after{
    display: none;
  }
  @media screen and (max-width: 500px) {
    .footer .center {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
  .contact form,
  .contact form input,
  .contact form textarea {
    width: 100%;
  }
  .button_submit {
    width: 100%;
  }
  .warning_contact {
    width: 100%;
  }
  .image3d_home{
    visibility: hidden;
  }
  .social_midia{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
